:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'vendor/sb-admin';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  #page-wrapper {
    padding-top: 50px;
    min-height: 1080px;
  }

  .blockchain {
    li {
      list-style-type: none;
    }
    .title  {
      font-weight: 600;
    }
  }

  .message-preview .empty {
    padding: 20px 15px 5px 15px;
  }
}
